.input-box {
  margin: 30px auto 0;
  width: 250px;
  display: flex;
}
.input-box > input[type='text'] {
  border-bottom: 1px dashed var(--color-yellow);
  flex: 1;
  background-color: transparent;
}
.input-box > input[type='text'].dark-text-input {
  border-bottom: 1px dashed var(--color-black);
}
.input-box > input[type='text']::placeholder {
  color: var(--color-yellow);
  font-style: italic;
}
.input-box > input[type='text'].dark-text-input::placeholder {
  color: var(--color-black);
}
.input-box > button {
  background-color: var(--color-yellow);
}
.input-box > button:hover {
  filter: brightness(125%);
}
.input-box > button.dark-button {
  background-color: var(--color-black);
}
