.card {
  margin-top: 12px;
  padding: 30px 12px 12px;
  width: 100%;
  min-height: 0;
  height: 100%;
  background-color: var(--accent-color);
  background-image: var(--linear-gradient);
  display: flex;
  flex-direction: column;
}
