.checkbox {
  display: none;
}
.item {
  position: absolute;
  border: 1px solid var(--main-color);
  padding: 5px 10px;
  width: 66px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition-property: width;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: 300ms;
}
.completed {
  background-color: var(--main-color);
  text-decoration: line-through;
  transition-property: background-color;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: 300ms;
}
.item > input[type='text'] {
  min-width: 0;
  flex: 1;
  background-color: transparent;
}
.item > button {
  position: absolute;
  left: -31px;
  padding: 5px;
  background-color: transparent;
  display: flex;
  color: var(--main-color);
}
