.card {
  margin-top: 12px;
  padding: 30px 12px 12px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fd7f2a;
  background-image: linear-gradient(200deg, #e89d9f, #f28658 15%, #fd7f2a 35%);
}
.dark-card {
  background-color: #afcbe3;
  background-image: linear-gradient(
    190deg,
    #afcbe3,
    #a3b2db 60%,
    #d7bcd9 80%,
    #e89d9f
  );
}
