.main {
  position: relative;
  padding: 30px 0 50px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffde30;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
}
.dark-main {
  background-color: #000;
  color: #fff;
}
.dark-main button {
  background-color: #afcbe3;
  color: #fff;
}
