.input-box {
  margin: 30px auto 0;
  width: 250px;
  display: flex;
}
.input-box > input[type='text'] {
  flex: 1;
}
.input-box > button {
  background-color: #ffde30;
}
.input-box > button.dark-button {
  background-color: #000;
}
