.checkbox {
  width: 16px;
  height: 16px;
}
.checkbox > input[type='checkbox'] {
  display: none;
}
.checkbox > label {
  position: relative;
  border: 1px solid var(--color-yellow);
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: block;
  cursor: pointer;
}
.checkbox.dark-checkbox > label {
  border: 1px solid var(--color-black);
  box-shadow: var(--box-shadow);
}
.checkbox > input[type='checkbox']:checked + label::before {
  content: '\2713';
  background-color: transparent;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-yellow);
}
.checkbox.dark-checkbox > input[type='checkbox']:checked + label::before {
  color: var(--color-black);
}
