.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 78px;
  background-color: inherit;
}
.footer > p {
  margin-top: 12px;
}
.mode-button {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
