.filter {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.filter > li {
  line-height: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
}
.active-filter::after {
  content: '';
  border: 1px solid var(--color-yellow);
  display: block;
  transition-property: border-bottom;
  transition-timing-function: var(--transition-timing-function);
  transition-duration: 300ms;
}
.dark-filter.active-filter::after {
  border-color: var(--color-black);
}
