.filter {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.filter > li {
  line-height: 3rem;
  font-size: 2rem;
  cursor: pointer;
}
.active-filter {
  border-bottom: 2px solid var(--color-yellow);
  transition-property: border-bottom;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.dark-filter.active-filter {
  border-bottom: 2px solid var(--color-black);
}
