@font-face {
  font-family: 'LeagueGothic-Regular';
  src: url('../public/fonts/LeagueGothic-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../public/fonts/NanumGothic.otf') format('otf');
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #fd7f2a;
  --color-yellow: #ffde30;
  --color-blue: #afcbe3;
  --color-dark-blue: #afcbe350;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'LeagueGothic-Regular', 'NanumGothic', sans-serif;
  accent-color: var(--color-orange);
}
h1 {
  font-size: 4rem;
}
input[type='text'] {
  border: none;
  outline: none;
  padding: 0;
  font-size: 100%;
  font-family: 'LeagueGothic-Regular', 'NanumGothic', sans-serif;
}
button {
  border: none;
  padding: 5px 10px;
  background-color: var(--color-orange);
  font: inherit;
  color: var(--color-black);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-yellow);
}
